.body {
    height: 350vh;
    width: 100vw;
    background-color: rgba(240, 240, 240, 1);
    display: flex;
    justify-content: flex-start;
}

.row {
    padding: 30px 0px 0px 30px;
    gap: 20px;
}

.element {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 95vw;
    height: 225px;
    gap: 25px;
}

.information {
    display: flex;
    font-size: 30px;
    color: #795695;
    padding: 10px 0px 0px 0px;
    width: 100%;
    height: 15%;
}

.overall {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.overall-children {
    display: flex;
    height: 100%;
    width: 33.33%;
    box-shadow: 1px 1px 1px 1px rgba(162, 162, 162, 0.752);
    background-color: white ;
    border-radius: 3px;
}

.overall-children-image {
    height: 100%;
    width: 40%;
    padding: 10px;
}

.overall-children-info {
    height: 100%;
    width: 60%;
}

.quantity {
    font-size: 50px;
    width: 100%;
    height: 60%;
    padding-left: 15px;
    padding-top: 10px;
}

.quantity-name {
    width: 100%;
    height: 60%;
    font-size: 23px;
    padding-left: 15px;
}

.inika-regular {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

.plus-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.gap100 {
    height: 110px;
    width: 100%;
}

.entries {
    display: flex;
    width: 95vw;
    height: 3000px;
    gap: 90px;
}

.entries-filter {
    width: 25%;
    height: 1000px;
}

.entries-list {
    width: 65%;
    height: 1000px;
}

.hundred {
    width: 100%;
}

.border-shadow {
    box-shadow: 1px 1px 1px 1px rgba(162, 162, 162, 0.752);
}

.border-shadow2 {
    box-shadow: 1px 1px 1px 0px rgba(162, 162, 162, 0.752);
}

.check {
    width: 20px;
    height: 20px;
}

.clear {
    color: #795695;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 20px;
}
.clear :hover {
    cursor: pointer;
    font-size: 21px;
}

.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .bor {
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
  }
  .showdetail:hover {
    cursor: pointer;
  }

  .editbutton:hover {
    cursor: pointer;
  }

  .triangle {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 48px solid #371F77;
    position: relative;
    left: 29px;
    z-index: 0;
}
.star {
    color: #D9D9D9
}
.priceSlider{
    width: 90%;
    height: 20px;
    -webkit-appearance: none;
    background: #8667A0;
    opacity: 0.7;
    border-radius: 5px; 
    -webkit-transition: .2s;
}
.priceSlider:hover{
    opacity: 1;
}
.priceSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: #D9D9D9;
    cursor: pointer;
  }
.main {
    transition: margin-left .5s;
    margin-left: 0px;
  }
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    width: 35%; /* Full width */
    height: 70%;
    transform: translate(-50%, -50%);
    margin-top: 30%;
    margin-left: 15%;

  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .ReactModal__Content {
    transform: translateY(-100%);
    transition: transform 300ms ease-in-out;
    background-color: #fefefe;

  }
  
  .ReactModal__Content--after-open {
    transform: translateY(0);
  }
  
  .ReactModal__Content--before-close {
    transform: translateY(-100%);
  }
  .button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: rgba(55, 31, 119, 0.8);
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 45px;
    background-color: rgba(55, 31, 119, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: rgba(55, 31, 119, 1);
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: rgba(55, 31, 119, 1);
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }

  .InputFile{
    border:10px solid rgba(55, 31, 119, 1);
  }

  .file-input {
    display: none; /* Hide the default file input */
  }
  
  .file-label {
    display: inline-block;
    padding: 11px 17px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(55, 31, 119, 1);
    border: 2px solid rgba(55, 31, 119, 1);
    border-radius: 0px;
    cursor: pointer;
  }
  
  .file-label:hover {
    background-color: rgba(55, 31, 119, 1);
    border-color: rgba(55, 31, 119, 1);
  }

  .edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
  }
  
  .edit-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
  }
  
  .edit-svgIcon path {
    fill: white;
  }
  
  .edit-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }
  
  .edit-button:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .edit-button::before {
    display: none;
    content: "Edit";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
  }
  
  .edit-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }
  
/* customStyles.css */

.custom-modal {
  max-width: 500px;
  margin: 0 auto;
}

.input-container {
  margin-bottom: 15px;
}

/* Add more styles as needed */
.save-button,
.cancel-button {
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
}

/* Add hover/focus styles for buttons if needed */
.save-button:hover,
.cancel-button:hover {
  background-color: #1890ff;
  color: #fff;
}
