.body {
    height: 3000px;
    width: 100%;
    background-color: rgba(240, 240, 240, 1);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
}

.row {
    padding: 30px 0px 0px 30px;
    gap: 20px;
}

.element {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 95vw;
    height: 225px;
    gap: 25px;
}

.information {
    display: flex;
    font-size: 30px;
    color: #795695;
    padding: 10px 0px 0px 0px;
    width: 100%;
    height: 15%;
}

.overall {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.overall-children {
    display: flex;
    height: 100%;
    width: 33.33%;
    box-shadow: 1px 1px 1px 1px rgba(162, 162, 162, 0.752);
    background-color: white ;
    border-radius: 3px;
}

.overall-children-image {
    height: 100%;
    width: 40%;
    padding: 10px;
}

.overall-children-info {
    height: 100%;
    width: 60%;
}

.quantity {
    font-size: 50px;
    width: 100%;
    height: 60%;
    padding-left: 15px;
    padding-top: 10px;
}

.quantity-name {
    width: 100%;
    height: 60%;
    font-size: 23px;
    padding-left: 15px;
}

.inika-regular {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

.plus-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.gap100 {
    height: 100px;
}

.entries {
    display: flex;
    width: 95vw;
    height: 3000px;
    gap: 90px;
}

.entries-filter {
    width: 25%;
    height: 1000px;
}

.entries-list {
    width: 65%;
    height: 1000px;
}

.hundred {
    width: 100%;
}

.border-shadow {
    box-shadow: 1px 1px 1px 1px rgba(162, 162, 162, 0.752);
}

.check {
    width: 20px;
    height: 20px;
}

.clear {
    color: #795695;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 20px;
}
.clear :hover {
    cursor: pointer;
    font-size: 21px;
}

.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .bor {
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
  }
  .showdetail:hover {
    cursor: pointer;
  }

  .editbutton:hover {
    cursor: pointer;
  }

  .triangle-up {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 48px solid #371F77;
    position: relative;
    left: 29px;
    z-index: 0;
}
.star {
    color: #D9D9D9
}
.slider {
    position: relative;
    width: 200px;
  }
  
  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }
  
  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }
  
  .slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
  }
  
  .slider__range {
    background-color: #9fe5e1;
    z-index: 2;
  }
  
  .slider__left-value,
  .slider__right-value {
    color: #dee2e6;
    font-size: 12px;
    margin-top: 20px;
  }
  
  .slider__left-value {
    left: 6px;
  }
  
  .slider__right-value {
    right: -4px;
  }
  
  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
  }
  
  .thumb--left {
    z-index: 3;
  }
  
  .thumb--right {
    z-index: 4;
  }
  
  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }